{% extends 'forUser.html.twig' %}

{% block title %}affiche eventU{% endblock %}

 {% block body %}
<section id="main-content">
    <!-- <div class="container event">-->
<section class="wrapper site-min-height">
    <div class="container event">
        <div class="row justify-content-center text-center">
            {% for e in eee %}
                 <div class="offset-sm-1 col-sm-5 clll">
                     <img src="{{ asset('img/instagram.jpg')}}" class="img.fluid" alt="" width="450px" height="380px" >
                     <div class="event-content">
                         <h4>{{ e.titre}} </h4>
                         <span> {{ e.minicontenu }}</span><br>
                         <a href="">Join</a>
                         <a href="">Forum</a>



                     </div>

                 </div>
             {% endfor %}


        </div>

         </div>

     <!--</div>-->

</section>
</section>

 {% endblock%}
