/Documents/NetBeansProjects/pidev/nbproject/private/
/Documents/NetBeansProjects/pidev/build/
/Documents/NetBeansProjects/pidev/dist/
/Documents/NetBeansProjects/pidevamine/nbproject/private/
/Documents/NetBeansProjects/pidevamine/dist/
/Documents/NetBeansProjects/pidevamine/build/
/Documents/NetBeansProjects/test/nbproject/private/
/Documents/NetBeansProjects/test/build/
/Documents/NetBeansProjects/test/dist/
/Documents/NetBeansProjects/JavaApplication6/nbproject/private/
/Documents/NetBeansProjects/javatest/nbproject/private/
/Documents/NetBeansProjects/JavaApplication8/nbproject/private/
/Documents/NetBeansProjects/JavaApplication8/build/
/Documents/NetBeansProjects/e5erwe7ed/nbproject/private/
/Documents/NetBeansProjects/e5erwe7ed/build/
/Documents/NetBeansProjects/JavaApplication9/nbproject/private/
/Documents/NetBeansProjects/JavaApplication9/build/